<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout :: head">
</head>
<body>
	<!-- nav -->
	<nav th:replace="layout :: header"></nav>
	<!-- ./nav -->

	<!-- main -->
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<!-- profile brief -->
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>nicholaskajoh</h4>
						<p>I love to code!</p>
					</div>
				</div>
				<!-- ./profile brief -->

				<!-- friend requests -->
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>friend requests</h4>
						<ul>
							<li><a href="#">johndoe</a> <a class="text-success" href="#">[accept]</a>
								<a class="text-danger" href="#">[decline]</a></li>
						</ul>
					</div>
				</div>
				<!-- ./friend requests -->
			</div>
			<div class="col-md-6">
				<form th:action="@{/gifts}" method="post">
					<div class="form-group">
						<input type="text" class="form-control" id="receiver"
							aria-describedby="account name"
							placeholder="Viết lời cảm ơn tới..."> <input
							type="hidden" id="receiver_id" name="receiverId">
					</div>
					<div class="form-group">
						<label for="message">Message</label>
						<textarea class="form-control" id="message" rows="3"
							name="message"></textarea>
					</div>
					<div class="form-group">
						<label for="points">Points</label> <select name="points"
							class="form-control" id="points">
							<option>50</option>
							<option>100</option>
							<option>200</option>
							<option>300</option>
							<option>400</option>
						</select>
					</div>
					<div class="form-group">
						<label for="hashTag">Hash Tag</label> <select name="hashTag"
							class="form-control" id="hashTag">
							<c:forEach var="hashTag" items="${hashTags}">
								<option>${hashTag.tag}</option>
							</c:forEach>
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Send gift</button>
				</form>
				<hr>
				<!-- ./post form -->

				<!-- feed -->
				<div>
					<!-- post -->
					<div class="panel panel-default">
						<div class="panel-body">
							<p>Hello people! This is my first FaceClone post. Hurray!!!</p>
						</div>
						<div class="panel-footer">
							<span>posted 2017-5-27 20:45:01 by nicholaskajoh</span> <span
								class="pull-right"><a class="text-danger" href="#">[delete]</a></span>
						</div>
					</div>
					<!-- ./post -->
				</div>
				<!-- ./feed -->
			</div>
			<div class="col-md-3">
				<!-- add friend -->
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>add friend</h4>
						<ul>
							<li><a href="#">alberte</a> <a href="#">[add]</a></li>
						</ul>
					</div>
				</div>
				<!-- ./add friend -->

				<!-- friends -->
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>friends</h4>
						<ul>
							<li><a href="#">peterpan</a> <a class="text-danger" href="#">[unfriend]</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- ./friends -->
			</div>
		</div>
	</div>
	<!-- ./main -->

	<!-- footer -->
	<footer class="container text-center">
		<ul class="nav nav-pills pull-right">
			<li>FaceClone - Made by [your name here]</li>
		</ul>
	</footer>
	<!-- ./footer -->

	<script type="text/javascript">
		$(function() {
			$("#receiver").autocomplete({
				source : "receiverAutocomplete",
				minLength : 3,
				focus: function(event, ui){
					event.preventDefault();
					$(this).val(ui.item.label);
					return false;
				},
				select: function(event, ui){
					event.preventDefault();
					$(this).val(ui.item.label);
					$("#receiver_id").val(ui.item.value);
					return false;
				}
			});
		});
	</script>

</body>
</html>