<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout :: head">
</head>
<body>
	<!-- nav -->
	<nav th:replace="layout :: header"></nav>
	<!-- ./nav -->

	<!-- main -->
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-lg-3 col-xl-3">
				<!-- profile brief -->
				<div class="card text-right">
					<div class="card-body">
						<h4>nicholaskajoh</h4>
						<p>I love to code!</p>
					</div>
				</div>
				<!-- ./profile brief -->

				<!-- friend requests -->
				<div class="card text-right">
					<div class="card-body">
						<h4>friend requests</h4>
						<ul>
							<li><a href="#">johndoe</a> <a class="text-success" href="#">[accept]</a>
								<a class="text-danger" href="#">[decline]</a></li>
						</ul>
					</div>
				</div>
				<!-- ./friend requests -->
			</div>
			<div class="col-md-6 col-lg-6 col-xl-6">
				<div class="card">
					<div class="card-body">
						<form th:action="@{/sendGift}" method="post" th:id="giftForm">
							<div class="form-group">
								<input type="text" class="form-control" id="receiver"
									aria-describedby="account name"
									placeholder="Viết lời cảm ơn tới..."> <input
									type="hidden" id="receiver_id" name="receiverId">
							</div>
							<div class="form-group">
								<label for="message">Message</label>
								<textarea class="form-control" id="message" rows="3"
									name="message"></textarea>
							</div>
							<div class="form-group">
								<label for="points">Points</label> <select name="points"
									class="form-control" id="points">
									<option>50</option>
									<option>100</option>
									<option>200</option>
									<option>300</option>
									<option>400</option>
								</select>
							</div>
							<div class="form-group">
								<label for="hashTag">Hash Tag</label>
								<th:block th:if="${#lists.isEmpty(hashtagList)}">
						No hashtag available</th:block>
								<th:block th:unless="${#lists.isEmpty(hashtagList)}">
									<select name="hashTag" class="form-control" id="hashTag">
										<option th:each="hashtag, iterStat : ${hashtagList}"
											th:value="${hashtag.tag}" th:text="${hashtag.tag}"></option>
									</select>
								</th:block>

							</div>
							<button type="submit" class="btn btn-primary" id="sendGiftButton">Send
								gift</button>
						</form>
					</div>

				</div>

				<hr>
				<!-- ./post form -->

				<!-- feed -->
				<div id="giftList">
					<div th:replace="gift :: giftListFragment"></div>
				</div>
				<!-- ./feed -->
			</div>
			<div th:replace="gift :: giftSummary"></div>
		</div>
	</div>
	<!-- ./main -->

	<!-- footer -->
	<footer class="container text-center">
		<ul class="nav nav-pills pull-right">
			<li>FaceClone - Made by [your name here]</li>
		</ul>
	</footer>
	<!-- ./footer -->

	<script type="text/javascript">
		$(function() {
			$("#receiver").autocomplete({
				source : "receiverAutocomplete",
				minLength : 3,
				select : function(event, ui) {
					event.preventDefault();
					$(this).val(ui.item.label);
					$("#receiver_id").val(ui.item.value);
					return false;
				}
			});

			$("#giftForm").submit(function(event) {
				event.preventDefault();

				$.post("/sendGift", $("#giftForm").serialize());

				setTimeout(function() { // Delay for Chrome
					$("#giftList").empty();
					var url = "/userGifts?option=all";
					$("#giftList").load(url);
				}, 1000);
			});
		});
	</script>
</body>
</html>