<!DOCTYPE html>
<html>
<head th:replace="layout :: head">
</head>
<body>
	<!-- nav -->
	<nav th:replace="layout :: header"></nav>
	<!-- ./nav -->

	<!-- main -->
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<!-- edit profile -->
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>Giới thiệu</h4>
						<p>Giới tính: <span th:text="(${profile.gender} == 1)? 'Nam' : 'Nữ'" ></span></p>
						<p>Ngày sinh: <span th:text="${profile.birthday}"></span></p>
						<p>Bộ phận: <span th:text="${profile.department}"></span></p>
<!-- 						<p th:text="${profile.branch}"> -->
<!-- 						<p th:value="#{profile.hobby}"> -->
					</div>
					<button class="btn btn-primary" th:action="@{/edit}">Chỉnh sửa</button>
				</div>
				<!-- ./edit profile -->
			</div>
			<div class="col-md-6">
				<!-- user profile -->
				<div class="media">
					<div class="media-left">
						<img src="img/my_avatar.png" class="media-object mr-3"
							style="width: 128px; height: 128px;">
					</div>
					<div class="media-body">
						<h2 class="media-heading" th:text="${profile.name}"></h2>
						<p>Status: I love to code!, Location: Nigeria</p>
					</div>
				</div>
				<!-- user profile -->

				<hr>

				<!-- timeline -->
				<div>
					<!-- post -->
					<div class="panel panel-default">
						<div class="panel-body">
							<p>Hello people! This is my first FaceClone post. Hurray!!!</p>
						</div>
						<div class="panel-footer">
							<span>posted 2017-5-27 20:45:01 by nicholaskajoh</span> <span
								class="pull-right"><a class="text-danger" href="#">[delete]</a></span>
						</div>
					</div>
					<!-- ./post -->
				</div>
				<!-- ./timeline -->
			</div>
			<div class="col-md-3">
				<!-- friends -->
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>Friends</h4>
						<ul>
							<li><a href="#">peterpan</a> <a class="text-danger" href="#">[unfriend]</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- ./friends -->
			</div>
		</div>
	</div>
	<!-- ./main -->

	<!-- footer -->
	<footer th:replace="layout :: footer"> </footer>
	<!-- ./footer -->
	<!-- ./footer -->
</body>
</html>